@import "tailwindcss";
@source inline("left-{2,20,38,56}");
@source inline("top-{2,20,38,56}");
@source inline("xs:left-{2,28,54,80}");
@source inline("xs:top-{2,28,54,80}");
@source inline("xl:left-{4,38,72,106}");
@source inline("xl:top-{4,38,72,106}");
@theme {
  --breakpoint-xs: 32rem;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: theme("colors.neutral.800");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
